## Fotografering for Kongehuset

Siden 1993 har Steen Brogaard fungeret som først HKH Kronprins Frederiks og siden også som HKH Prins Joachims personlige fotograf ved både private og officielle lejligheder. Dette arbejde har gennem årene ført til mange rejser, udstillinger, bøger og ej at forglemme utallige opslag i danske og udenlandske magasiner.

## Officielle begivenheder og private billeder

For at få adgang til billeder fra officielle begivenheder med mulighed for at bestille private billeder, skal du registrere dig herunder.