## Tales Through Photography

For mig er fotografering aldrig bare en afbildning af virkeligheden. Det er en fortolkning, en fortælling. 
Som stemningsformidler er still-billedet et formidabelt værktøj.

## Fotograferinger

Gennem årene er mit fokus blevt drejet stadig mere mod mødet mellem mennesker. Det er her det unikke portræt opstår, det er her tilfældigheder blandes med hårdt arbejde og enestående chancer skal gribes. Om vi snakker om et projekt i 100.000,- kr klassen eller et privat portræt - engagementet skal være stort.

## Produkter

Man føler for sine billeder som var det ens børn. Jeg vil gerne hjælpe dem på vej - både til websites, blade, foldere - men jeg producerer også egentlige multimedie-produkter, hvor lyd og billede kan kommunikere på en helt enestående måde. En billedeserie kan blive til en bog, en serie postkort eller en film på nettet.


##Billedbank

Et andet kerneprodukt er opbygning og vedligeholdelse af dit firmas billedbank. Her er særlige aftaler, hvor fotograferingerne ikke honoreres efter time-forbrug, men efter faktisk download fra Billedbanken.

##Interact

Jeg sætter det lange, nære samarbejde højt. Brug formularen herunder til at registrere dig selv som kunde, leverandør, model eller bare som interesseret og få nyhedsbreve med særtilbud, adgang til særlige sektioner med mere.

